<div
  style="width: 50px; height: 50px; min-width: 50px; min-height: 50px;"
  class="
    rounded-full
    bg-gray-300
    flex
    items-center
    justify-center
    text-gray-900
    font-semibold
  "
>
  <%= @text %>
</div>
