<div
  class="flex flex-col justify-center items-center relative pt-24"
  style="background-size: 20px 20px; background-image: linear-gradient(#e8e8e8 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #e8e8e8 calc(100% - 1.5px)), linear-gradient(90deg, #e8e8e8 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #e8e8e8 calc(100% - 1.5px))"
>

  <div class="max-w-6xl mx-auto">
    <h1
      class="font-black text-8xl mb-12 text-center relative "
      style="letter-spacing: -4px; z-index: 2;"
    >
      Tailwind component generator for Rails
    </h1>
  </div>

  <div
    class="absolute top-0 left-0 w-full h-full"
    style="background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,1)); z-index: 1;"
  ></div>
</div>

<div class="max-w-xl mx-auto flex flex-col justify-center items-center">

  <div class="space-y-4 w-full flex flex-col justify-center items-center">

    <%= render(CodeComponent.new(text: "gem 'railwind', '~> 0.1.15'")) %>
    <%= render(CodeComponent.new(text: "gem install railwind")) %>

    <%= link_to components_button_path, class: "font-semibold" do %>

      <button
        class="
          bg-yellow-400
          rounded-full
          flex
          items-center
          justify-center
          font-bold
          py-4
          px-12
          text-2xl
          transition
          hover:bg-yellow-500
        "
      >
        View documentation
      </button>

    <% end %>

  </div>

</div>
